#!/bin/bash

WORKSPACE=$(cd $(dirname $0)/; pwd)
cd $WORKSPACE

conf_file=$2
app=doubao
version=1.0.0

mkdir -p data logs

pidfile=data/$conf_file.pid
logfile=logs/$conf_file.log

JAVA_OPTS="-server"

JAVA_VERSION=`java -version 2>&1 |awk -F' ' '/version/{print $3}'|cut -c 2-4`
####JDK 7
if [ $JAVA_VERSION == '1.7' ];then
    JAVA_OPTS="${JAVA_OPTS} -XX:PermSize=64M -XX:MaxPermSize=128M"
fi

JAVA_OPTS="${JAVA_OPTS} -Xmx256m -Xmn128m"
JAVA_OPTS="${JAVA_OPTS} -XX:SurvivorRatio=10"
JAVA_OPTS="${JAVA_OPTS} -Xloggc:${WORKSPACE}/logs/gc.log -XX:+PrintGCDetails -XX:+PrintGCDateStamps"
JAVA_OPTS="${JAVA_OPTS} -Dlog4j.configuration=file://${WORKSPACE}/conf/log4j.xml"

function check_pid() {
    if [ -f $pidfile ];then
        pid=`cat $pidfile`
        if [ -n $pid ]; then
            running=`ps -p $pid|grep -v "PID TTY" |wc -l`
            return $running
        fi
    fi
    return 0
}

function start() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "$app now is running already, pid="
        cat $pidfile
        return 1
    fi
    java ${JAVA_OPTS} -jar doubao-1.0.0-standalone.jar conf/$conf_file.json &> $logfile &
    echo $! > $pidfile
    echo -1000 > /proc/`cat $pidfile`/oom_score_adj
    echo "$app started..."
}

function stop() {
    pid=`cat $pidfile`
    kill $pid
    echo "$app stoped..."
}

function restart() {
    stop
    wait
    start
}

function status() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo started
    else
        echo stoped
    fi
}

function tailf() {
    tail -f $logfile
}

function pack() {
    cd target
    mkdir -p $app
    cp -r $app-$version-standalone.jar ../conf ../control $app/
    file_list="$app"
    echo "...tar $app-$version.tar.gz <= $file_list"
    tar zcvf $app-$version.tar.gz $file_list
    rm -rf $app
}

function help() {
    echo "USAGE: $0 [1]:start|stop|restart|status|tail"
    echo "[2]:  config file name under conf folder   e.g.: $1 taisan"
}

if [ $# != 2 ] ; then
    help
elif [ "$1" == "stop" ];then
    stop
elif [ "$1" == "start" ];then
    start
elif [ "$1" == "restart" ];then
    restart
elif [ "$1" == "status" ];then
    status
elif [ "$1" == "pack" ];then
    pack
elif [ "$1" == "tail" ];then
    tailf
else
    help
fi
