<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">
	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %p - %l%m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="errorFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/project_error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %p - %l%m%n" />
		</layout>
		
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="statisticsFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/statistics.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] %m%n" />
		</layout>
		
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<logger name="com.liuyun.doubao.stat" additivity="false">
		<level value="INFO" />
		<appender-ref ref="statisticsFile" />
	</logger>
	
	<root>
        <level value="INFO"/>
		<appender-ref ref="myConsole" />
		<appender-ref ref="errorFile"/>
	</root>
</log4j:configuration>